<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clfaa.androidnotes">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".AndroidNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".camera.TakePhotoActivity"
            android:label="获取照片/相机">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.clfaa.androidnotes.category.notes" />
            </intent-filter>
        </activity>

        <activity android:name=".anim.FrameAnimActivity1"
            android:label="动画/selector_animation-list混用">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.clfaa.androidnotes.category.notes" />
            </intent-filter>
        </activity>

    </application>

</manifest>